@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter_18pt-Regular.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter_18pt-SemiBold.woff2) format(woff2);
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter_18pt-Bold.woff2) format(woff2);
    font-style: normal;
    font-weight: 700;
}


:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
    --background-color: var(--Grey-900);
    --font-size: 1.4rem;
    --font-family: 'Inter', sans-serif;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: min(62.5%, 100%);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.main-body {
    width: 100%;
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--White);
}

.profile-box {
    margin: min(5vh, 5rem) auto;
    border: 0px solid var(--Grey-900);
    text-align: center;
    background-color: var(--Grey-800);
    padding: clamp(5rem, 7vh, 7rem);
    border-radius: 1rem;
    --margin: 15rem;
    --max-width: 38rem;
    width: min(100% - var(--margin), var(--max-width));

}



img {
    width: min(50%, 14rem);
    border-radius: 100%;
    margin-block-end: min(2%, 1rem);
}

h1 {
    margin-block-end: min(2%, 1rem);
}

.y-text {
    color: var(--Green) ;
    margin-block-end: min(10%, 2.8rem);
}


.btn {
    width: 100%;
    padding: min(4%, 1.4rem);
    border-radius: 0.5rem;
    margin-block-start: min(7%, 1.4rem);
    background-color: var(--Grey-700);
    color: white;
    border: none;
    font-weight: 700;
}

