@property --my-site-color {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 8%);
}

@property --my-bg-color {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 12%);
}


body {
    background-color:  var(--my-site-color);
}


.main-body {
    border: 0px solid black;
    text-align: center;
    margin: 3em 5em;
    background-color: var(--my-bg-color);
    color: white;
    padding: 4%;
    font-family: "Inter", sans-serif;
    font-size: 0.75em;
    border-radius: 0.625em;
}

@media screen and (min-width: 320px) {
   .main-body { margin: 8em 2em;
}
}

@media screen and (min-width: 481px) {
   .main-body { margin: 8em 8em;
}
}

@media screen and (min-width: 641px) {
   .main-body { margin: 8em 13em;
}
}

@media screen and (min-width: 961px) {
   .main-body { margin: 8em 25em;
}
}

@media screen and (min-width: 1025px) {
   .main-body { margin: 8em 27em;
}
}

@media screen and (min-width: 1280px) {
   .main-body { margin: 8em 45em;
}
}

img {
    width: 50%;
    border-radius: 100%;
    margin-block-end: 2%;
}

h2 {
    margin-block-end: 2%;
}

.y-text {
    color: hsl(75, 94%, 57%) ;
    margin-bottom: 10%;
}


.btn {
    width: 100%;
    padding: 4% 0%;
    border-radius: 5px;
    margin-block-start: 5%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    font-weight: bold;
}

