body {
    background-color:  hsl(0, 0%, 8%);
}


.main-body {
    border: 0px solid black;
    text-align: center;
    margin: 4.3% 38%;
    background-color: hsl(0, 0%, 12%);
    color: white;
    padding: 4%;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    border-radius: 10px;
}

@media screen and (max-width: 840px) {
   .main-body { margin: 4.3% 30%;
}
}

img {
    width: 50%;
    border-radius: 100%;
    margin-bottom: 2%;
}

h2 {
    margin-bottom: 2%;
}

.y-text {
    color: hsl(75, 94%, 57%) ;
    margin-bottom: 10%;
}

.quote {

    /* margin-bottom: 10%; */
}

.btn {
    width: 100%;
    padding: 4% 0%;
    border-radius: 5px;
    margin-top: 5%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    font-weight: bold;
}